.wrap {
  margin: 30px auto 0 auto;
}

h1 {
  text-align: center;
}

#notification {
  font-weight: 600;
  cursor: default;
}

/*? 리스트 영역 스타일링 */
.notify {
  width: 660px;
  height: 730px;
  margin: 20px auto 0 auto;
  border: 2px solid black;
  background-color: #eeeeeea6;
}

.notify-wrap {
  display: grid;
  margin: 10px 10px 0;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-row-gap: 27px;
  grid-column-gap: 17px;
}

.notify-list-link {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.notify-list-link:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.notify-list {
  width: 200px;
  height: 200px;
  background-color: #ffffffa6;
  color: black;
}

/*? 추가, 삭제버튼 스타일 영역 */
.btn-wrap {
  display: inline;
  position: relative;
  top: 2%;
  left: 87%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ffffff00;
}

.add-btn {
  margin-right: 10px;
}

.add-btn, .remove-btn {
  font-size: 20px;
}